<Alloy>
	<View id="menuWrapper">
		<View id="iosHeader" platform="ios" />
		<ScrollView class="container padding_bottom">

			<Require id="buy_tickets" src="misc/menu_button" title="L('buy_tickets').toUpperCase()" />
			<!-- <Require id="bands" src="misc/menu_button" title="L('bands').toUpperCase()" />
			<Require id="club_shows" src="misc/menu_button" title="L('club_shows_lv').toUpperCase()" />
			<Require id="club_shows_ap" src="misc/menu_button" title="L('club_shows_ap').toUpperCase()" /> -->
			<Require id="denver_prb" src="misc/menu_button" title="L('denver_prb').toUpperCase()" />
			<Require id="denver_bowling" src="misc/menu_button" title="L('denver_bowling').toUpperCase()" />
			<Require id="contests" src="misc/menu_button" title="L('contests').toUpperCase()" />
			<Require id="hotels" src="misc/menu_button" title="L('hotels').toUpperCase()" />
			<Require id="prb_shop" src="misc/menu_button" title="L('prb_shop').toUpperCase()" />
			<Require id="map" src="misc/menu_button" title="L('map').toUpperCase()" />
			<Require id="poker" src="misc/menu_button" title="L('poker').toUpperCase()" />
			<Require id="sponsers" src="misc/menu_button" title="L('sponsers').toUpperCase()" />
			<Require id="food" src="misc/menu_button" title="L('food').toUpperCase()" />
			<Require id="info" src="misc/menu_button" title="L('news_social').toUpperCase()" />
			<Require id="faq" src="misc/menu_button" title="L('faq').toUpperCase()" />
			<!-- <Require id="chat" src="misc/menu_button" title="L('chat').toUpperCase()" /> -->
			<!-- <Require id="message_center" src="misc/menu_button" title="L('message_center').toUpperCase()" /> -->
			<Require id="privacy_policy" src="misc/menu_button" title="L('privacy_policy').toUpperCase()" />
			<Require id="profile" src="misc/menu_button" title="L('profile').toUpperCase()" />
			<Require id="log_out" src="misc/menu_button" title="L('log_out').toUpperCase()" />
			<!-- <Require id="settings" src="misc/menu_button" title="L('settings').toUpperCase()" /> -->
		</ScrollView>
	</View>
</Alloy>