<Alloy>
	<View id="menuWrapper">
		<View id="iosHeader" platform="ios" />
		<ScrollView class="container padding_bottom">

			<Require id="buy_tickets" src="misc/menu_button" title="L('buy_tickets').toUpperCase()" />
			<Require id="denver_bowling" src="misc/menu_button" title="L('denver_bowling').toUpperCase()" /> -->
			<Require id="lasvegas_lineup" src="misc/menu_button" title="L('lasvegas_lineup').toUpperCase()" />
			<Require id="contests" src="misc/menu_button" title="L('contests').toUpperCase()" />
			<Require id="prb_shop" src="misc/menu_button" title="L('prb_shop').toUpperCase()" />
			<Require id="sponsers" src="misc/menu_button" title="L('sponsers').toUpperCase()" />
			<Require id="info" src="misc/menu_button" title="L('news_social').toUpperCase()" />
			<Require id="privacy_policy" src="misc/menu_button" title="L('privacy_policy').toUpperCase()" />
		</ScrollView>
	</View>
</Alloy>