<Alloy>
	<View id="vwMain" backgroundImage='icons/distress_bg.png'>
		<View id="vwTopOptions">

			<Label id="title" class="frizQuaT" />
			
			<!-- <View id="daily_view" class="absolute_layout options_view padding_top" onClick="nsEvents.getDaily">
				<Label id="lineup" class="options_lbl knowYourProduct touch_false" text="L('lineup').toUpperCase()"></Label>
			</View> -->
			<View id="bands_view" class="absolute_layout options_view padding_top" onClick="nsEvents.getBands">
				<Label class="options_lbl lbl_settings knowYourProduct touch_false" id="lblBands" text="L('bands').toUpperCase()"></Label>
			</View>
			
			<View id="club_shows_view" class="absolute_layout options_view padding_top" onClick="nsEvents.getClubShows">
				<Label id="club_shows" class="options_lbl knowYourProduct touch_false" text="L('club_shows').toUpperCase()"></Label>
			</View>
			
			<View id="movies_view" class="absolute_layout options_view padding_top" onClick="nsEvents.getMovies">
				<Label id="pool_party" class="options_lbl knowYourProduct touch_false" text="L('movies').toUpperCase()"></Label>
			</View>
			<View id="bowling_view" class="absolute_layout options_view padding_top" onClick="nsEvents.getBowling">
				<Label id="bowling" class="options_lbl knowYourProduct touch_false" text="L('bowling').toUpperCase()"></Label>
			</View>
			<View id="poker_view" class="absolute_layout options_view padding_top" onClick="nsEvents.getPoker">
				<Label id="poker" class="options_lbl knowYourProduct touch_false" text="L('poker').toUpperCase()"></Label>
			</View>
			<View id="art_view" class="absolute_layout options_view padding_top" onClick="nsEvents.getArt">
				<Label id="art" class="options_lbl knowYourProduct touch_false" text="L('art').toUpperCase()"></Label>
			</View>
			<!-- <View class="absolute_layout options_view padding_top" id="city2" onClick="nsEvents.openCity2Event">
				<Label class="options_lbl knowYourProduct touch_false" id="lblCity2" text="City2"></Label>
			</View>
			<View class="absolute_layout options_view padding_top" id="city3" onClick="nsEvents.openCity3Event">
				<Label class="options_lbl knowYourProduct touch_false" id="lblCity3" text="City3"></Label>
			</View> -->

		</View>
		<Require id="sponsor" src="misc/sponsorAd" image="/icons/sourpuss_banner.png" url="http://sourpussclothing.com/" />
	</View>
</Alloy>